.header {
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 650px) {
  .header {
    width: 100%;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
