.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin-right: 24px;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  column-gap: 18px;
}

.profile__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  background: url(../images/pencil.svg) transparent center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  padding: 0;
  opacity: 100%;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 1);
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-area: subtitle;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.profile__add-button {
  background: url(../images/plus.svg) transparent center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  opacity: 100%;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 400;
  border: 2px solid rgba(255, 255, 255, 1);
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 760px) {
  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 650px) {
  .profile__avatar {
    margin: 0;
  }
  .profile__add-button {
    width: 100%;
    margin: 36px 0 6px 0;
  }

  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    row-gap: 14px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26px;
    justify-content: center;
  }

  .profile__subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    max-width: 282px;
  }
}
